
div.slideshow{
	background-image:url(../images/ic-images/bkg.png);
	border: 2px groove #000;
	margin:0 auto;
	border-radius:10px;
	width      : 900px;
	height     : 400px;
	/*margin     : 30px auto 0;*/
	overflow   : hidden;
	position   : relative;
	background-repeat:repeat-x;  
	background-position : center center;
}

div.slideshow div.train{
	margin   : 170px auto 0;
	width    : 10000px;
	height   : 400px;
	position : absolute;
	left     : 0;
	top      : 0;
	-webkit-transition : left 800ms ease-in-out;
	
}

div.slideshow div.train > div{
	margin-left:10px;
	width  : 290px;
	height : 215px;
	float  : left;
	border-radius       : 4px;
	background-size     : cover;
	background-repeat   : no-repeat;
	background-position : left top;
}

div.takhte {

	background-image:url(../images/ic-images/takhte.png);
	width:900px;
	height:150px;
	position:absolute;
	margin-top:330px;
	margin-bottom:5px;	
	
}

div.ax {

	position:relative;
	
}

div.balon {
	
	background-image:url(../images/ic-images/bkg-balon.png);
	position:absolute;
	top:-160px;
	left:20px;
	opacity:0.8;
	width:240px;
	height:175px;	
	
}

div.balon p {
	
	margin-left:45px;
	margin-top:35px;
	color:#fff;
	font-size:25px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	color:#FFF;	
	
}

div.balon input {
	
	margin-left:40px;
	margin-top:20px;	
	height:32px;
	color:#FFF;
	background-image:url(../images/ic-images/bkg-button.jpg);
	background-repeat:repeat-x;
	width:160px;
	border:1px solid #fff;
	font-size:13px;
	font-weight:bold;
	border-radius:5px;
	margin-right:7px;
}

div.ax:hover div.balon
{
	opacity : 1;
}


/* Navigation
-------------------------------------------------- 

div.slideshow ul.btns{
	height     : 13px;
	list-style : none;
	position   : absolute;
	left       : 0;
	bottom     : 0;
}

div.slideshow ul.btns li{
	float  : left;
	width  : 30px;
	height : 10px;
	cursor : pointer;
	margin-right       : 5px;
	border-radius      : 2px;
	background-color   : #333;
	-webkit-transition : all 1100ms;
}

div.slideshow ul.btns li:hover,
div.slideshow ul.btns li.active{
	height           : 16px;
	margin-top       : -3px;
	background-color : #2677AD;
	-webkit-transition-duration : 200ms;
}


-------------------------------------------------*/


div.slideshow div.previous,
div.slideshow div.next{
	position : absolute;
	top      : 150px;
	width    : 35px;
	height   : 80px;
	opacity  : 0.5;
	cursor   : pointer;
	background-image:url(../images/ic-images/next-prev.png);
	background-repeat  : no-repeat;
	-webkit-transition : opacity 500ms;
}

div.slideshow:hover div.previous,
div.slideshow:hover div.next{
	opacity : 1;
}

div.slideshow div.previous{
	background-position : 0px 0px;
	left : 0px;
}
div.slideshow div.next{
	right : 0px;
	background-position : -35px 0px;
}





/*------------------------------------------------------------*/









